.main-header {
  display: flex;
  flex-direction: column;
  padding: 3rem 7rem 2rem 7rem;
  h1 {
    padding: 1rem;
    font-size: xx-large;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 200;
  }
  p {
    padding: 1rem;
    font-size: medium;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}
