:root {
  --primary: #fff;
  --primary-dark: #182226;
  --primary-blue: #586973;
  --primary-light: #d9c6bf;
  --primary-dark-grey: #455059;
  --primary-grey: #9fa1a6;
}

body {
  background-image: url("images/bob-van-aubel-HELZiLkDctI-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  grid-auto-columns: minmax(150px, auto);
  color: var(--primary-dark);
  justify-content: center;
  grid-gap: 1em;
}

/* Text styles*/
h1 {
  font-family: sans-serif;
}
@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat/static/Montserrat-Medium.ttf");
}

h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-family: Montserrat;
}

h4 {
  margin: 1.5rem;
  color: var(--primary-light);
}
/* Input styles */

.holder {
  display: grid;
  justify-content: space-between;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
}

.entryHolder {
  display: grid;
  grid-template-areas: row;
  border-radius: 4px;
  padding: 10px;
  margin: 20px;
  width: 10rem;
  word-spacing: 0.1rem;
  font-size: 1.1rem;
  background-color: var(--primary-light);
}
#allRecentPosts {
  margin-top: 1rem;
  padding-top: 1rem;
  background-color: transparent;
  min-height: 30vh;
  box-shadow: 0px -1px 19px var(--primary-grey);
}

/*  Basic Styling To Override Default For Basic HTML Elements */

input {
  display: block;
  height: 3rem;
  width: 320px;
  background: var(--primary-light);
  color: var(--primary-dark);
  font-size: 20px;
  border: none;
}

button {
  width: 10rem;
  height: 4rem;
  background: var(--primary-dark);
  color: var(--primary-grey);
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  border-radius: 5rem;
  box-shadow: 2px 4px 5px #444;
}

.myInput {
  display: block;
  height: 60px;
  width: 320px;
  background: var(--primary-light);
  color: var(--primary-dark);
  font-size: 1rem;
  border: none;
  margin-bottom: 1rem;
  padding: 1px 2px;
  text-align: start;
  writing-mode: horizontal-tb !important;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: var(--primary-grey);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--primary-grey);
  font-family: Montserrat;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--primary-grey);
  font-family: Montserrat;
}

.invalid {
  border: solid red !important;
  background-color: pink !important;
}
